 .mecontiner {
  width: 80%;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically (if parent has height) */
  flex-direction: column;    /* so button stays below table */
    padding-left: 100px;
}

.mebox {
  border-collapse: collapse;
  margin: 20px 0;            /* space above/below */
  width: 90%;               /* shrink to fit content */

}
.mebox th, 
.mebox td {
  border: 2px solid black;    /* table cell borders */
  padding: 10px;              /* space inside cells */
  text-align: center;

}
.me{
  width: 90%;
}
.mebox th{
  background-color: aqua;
}

.meback{
  color: aliceblue;
  background-color: blue;
  display:inline flex;
  
}